/* Wrapper */
.icon-button 
  text-decoration: none
  color: #3B5998
  background-color: white
  border-radius: 3.6rem
  cursor: pointer
  display: inline-block
  font-size: 2.0rem
  height: 50px
  line-height: 50px
  position: relative
  text-align: center
  user-select: none
  width: 50px
  transition: all 0.3s
  &:hover
    background-color: #3B5998
    color: white
