/* Wrapper */
.index
  padding: 5%
  display: flex
  flex-direction: column
  align-items: center;
  justify-content: center


buttonSize = 100px
.icon-button 
  text-decoration: none
  background-color: white
  border-radius: 3.6rem
  cursor: pointer
  display: inline-block
  font-size: 3.0rem
  height: buttonSize
  width: buttonSize
  line-height: buttonSize
  position: relative
  text-align: center
  user-select: none
  transition: all 0.3s
  &:hover
    font-size: 4.0rem


.facebook
  color: #3B5998
  &:hover
    background-color: #3B5998
    color: white
.google
  color: #d73d32
  &:hover
    background-color: #d73d32
    color: white
.github
  color: #000000
  &:hover
    background-color: #000000
    color: white

.logout
  width: 100px
  color: #43A047
  &:hover
    background-color: #43A047
    color: white

.userInfo
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.login-component
  margin-top: 5%
  width: 50%
  display: flex
  .button-group
    width: 100%
    display: flex
    justify-content: space-around
